@tailwind base;
@tailwind components;
@tailwind utilities;

.p-card{
border-radius: 20px;
}

.p-card-title{
    @apply p-2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #C10041;
    color: white;
    font-weight: 500;
}
.p-card-body {
    padding: 0 !important;
}
.p-button {
    color: white;
}
.p-inputtext {
    @apply mb-3;
    padding: 5px;
    border: rgb(160, 160, 160) solid 1px;
}

.p-inputtext.p-invalid{
    border: rgb(251, 115, 115) solid 1px;
}

.fc-button {
    background-color: #C10041 !important;
    color: white !important;
    border: none !important;
  }
  
  .fc-button:hover {
    background-color: #9A0034 !important;
  }

  .p-sidebar-header-content{
    @apply text-red
  }